{% extends "layout.html" %}

{% block content %}
    <div class="container">
    	<div class="jumbotron">
    		<h1>Error 404</h1>
    		<p>Lo sentimos, la página solicitada no existe.</p>
    	</div>
    </div>
{% endblock %}
