{% extends "layout.html" %}

{% block content %}
    <div class="container">
    	<div class="jumbotron">
    		<h1>Error 500</h1>
    		<p>Lo sentimos, tenemos un problema en el servidor.</p>
    	</div>
    </div>
{% endblock %}
