{% extends "layout.html" %}

{% block content %}
    <div class="container">
    	<div class="jumbotron">
    		<h1>Error</h1>
    		<p>Lo sentimos, ha ocurrido un error inesperado.</p>
    	</div>
    </div>
{% endblock %}
