{% extends 'layout.html' %}

{% block title %}Creación de nuevo evento{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">

	{% if success %}
		<h1>{{ message }}</h1>
		<p>{{ body }}</p>
	{% else %}
		<h1>{{ message }}</h1>
		<p>{{ body }}</p>
	{% endif %}
	</div>
	<div>
		<a class="btn btn-default" href="{{ path('home') }}">Volver a Inicio</a>
		<a class="btn btn-success" href="{{ path('addevent') }}">Crear nuevo evento</a>
	</div>
</div>
{% endblock %}