{% extends 'layout.html' %}

{% block title %}Crear un nuevo evento{% endblock %}

{% block content %}
<div class="container">
	<h2>Crear nuevo evento</h2><br>
	<form action="#" class="" method="post">
		<div class="form-group">
			<label for="">Nombre del evento</label>
			<input class="form-control" type="text" name="nombre" required>
		</div>
		<div class="form-group">
			<label for="">Descripción del evento</label>
			<textarea class="form-control" name="descripcion"></textarea>
		</div>
		<div class="form-group">
			<label for="">Lugar</label>
			<input class="form-control" type="text" name="lugar">
		</div>
		<div class="form-group">
			<div class="input-group">
				<label class="input-group-addon" for="">Fecha Inicio</label>
				<input type="datetime" class="form-control datePicker" id="fechaInicio" name="fechaInicio" required>
				<label class="input-group-addon" for="">Hora Inicio</label>
				<input type="text" class="form-control timePicker" id="horaInicio" name="horaInicio" required>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label class="input-group-addon" for="">Fecha Fín</label>
				<input type="datetime" class="form-control datePicker" id="fechaFin" name="fechaFin" required>
				<label class="input-group-addon" for="">Hora Fín</label>
				<input type="text" class="form-control timePicker" id="horaFin" name="horaFin" required>
			</div>
		</div>
		<div class="form-group">
			<label for="">Calendario</label>
			<select class="form-control" name="calendario" id="calendario" required>
			{% if cal_list %}
				{% for list in cal_list %}
					{% if list.accessRole == 'owner' %}
						<option value="{{ list.id }}">{{ list.summary }}</option>
					{% endif %}
				{% endfor %}
			{% endif %}
			</select>
		</div>
		<div align="right">
			<button class="btn btn-default" type="reset">Limpiar</button>
			<input class="btn btn-success" type="submit">
		</div>
	</form>
</div>
{% endblock %}

{% block javascript %}
<script>
	$('.dateTimePicker').datetimepicker({
		dayOfWeekStart : 1,
		lang:'es',
	});
	$('.timePicker').datetimepicker({
		datepicker:false,
		format:'H:i'
	});
	$('.datePicker').datetimepicker({
		dayOfWeekStart : 1,
		lang: 'es',
		timepicker:false,
		format:'d/m/Y',
		formatDate:'Y/m/d',
	});
</script>
{% endblock %}