<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<title>Bienvenido</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Bienvenido a SIP</h1>
			<p>Demo de aplicación de API PHP de Google</p>
			<a class="btn btn-success" href="{{url}}">Ingresar</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.datetimepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>