<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Red SIP - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/jquery.datetimepicker.css">
    </head>
    <body>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Demo Google API PHP</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-calendar"></span> Menú Calendario<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('addevent') }}"><span class="glyphicon glyphicon-plus"></span> Crear evento</a></li>
                <li><a href="{{ path('listevents') }}"><span class="glyphicon glyphicon-list-alt"></span> Listar mis eventos</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user_email }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-off"></span> Salir</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="page-header"><h3></h3></div>
    {% block content %}{% endblock %}
    </body>

    <hr class="featurette-divider">

    <div class="footer">
        <footer>
            <p align="center"><span class="glyphicon glyphicon-copyright-mark"></span> Creado por Azurian Tecnología LTDA 2014</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.datetimepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
</html>
