{% extends 'layout.html' %}

{% block title %}Lista de eventos{% endblock %}

{% block content %}
<div class="container">
	<h2>Lista de eventos <small>de tu calendario principal</small></h2>
	<table class="table table-striped table-bordered table-hover" style="font-size:10px;">
	<thead>
		<tr class="success">
			<th>Evento</th>
			<th>Descripción</th>
			<th>Lugar</th>
			<th>Fecha inicio</th>
			<th>Fecha fin</th>
		</tr>
	</thead>
	<tbody>
	{% if events %}
		{% for event in events %}
		<tr>
			<td>{{ event.getSummary() }}</td>
			<td>{{ event.getDescription() }}</td>
			<td>{{ event.getLocation() }}</td>
			<td>{{ event.getStart().datetime }}</td>
			<td>{{ event.getEnd().datetime }}</td>
		</tr>
		{% endfor %}
	{% endif %}		
	</tbody>
	</table>
	<div>
		<a class="btn btn-success" href="{{ path('home') }}">Volver a Inicio</a>
	</div>
</div>
{% endblock %}