{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
		<ul class="nav nav-sidebar">
			<a href="#">
				<img data-src="holder.js/200x200" class="img-rounded" alt="200x200" 
				src="{{ user_picture }}" style="width: 200px; height: 200px;">
			</a>
			<br>
			<a href="#"><span class="glyphicon glyphicon-user"></span> {{ user_name }}</a>
		</ul>
		</div>
		<div class="col-md-7">
			<h3>My Information</h3>
			<table class="table table-hover table-striped">
				<p>Poner aquí la info que se desee.</p>
			</table>
		</div>
	</div>	
</div>
{% endblock %}